body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-item {
    position: relative;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .5s ease;
    background-color: rgba(0, 0, 0, 0.7);
}

.grid-item:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}
.text p {
    margin-bottom: 0;
    font-size: 14px;
    
}

.red {
    color: red;
}

.bold {
    font-weight: bold;
}

.text h3 {
    margin: 0;
    font-size: 20px;
    margin-bottom: 10px;
}

/* Адаптация для планшетов */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Адаптация для мобильных устройств */
@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

/* Поддержка для старых браузеров */
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-o-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.overlay {
    -webkit-animation: fadeIn .5s ease;
    -moz-animation: fadeIn .5s ease;
    -o-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease;
}